@charset "utf-8";
/* CSS Document */
.color
{
	background-color:#000;
	color:#FFF;
	font-size:18px;
}
.image
{
	background-image:url(images/dinner.jpg);
	background-size:cover;
	background-attachment:fixed;
	padding:200px;
}